body {
  background-color: #f8e8e7;
  font-family: 'Lato', sans-serif;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
  color: black;
}

.card {
    max-width: 30%;
    margin-bottom: 20px;
    padding: auto;
    background-image: url(card-background.png);
    width: 100%;

}

.card-header { 
  text-align: center;
  font-weight: bold;
}

.image {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.card-text {
  text-align: center;
 }

.card-footer {
  text-align: center;
}

.buttonDiv {
  display: flex;

}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#cat {
  margin-right: 10px;
  background-color: #abbfff;
  border: #abbfff;
  color: white
 }

#dog {
  margin-right: 10px;
  background-color: #8fef97;
  border: #8fef97;
}

#dino {
  margin-right: 10px;
  color: white;
}

#all{
  background-color: #eab8ff;
  border: #eab8ff;
  margin-right: 10px;
}

#add-animal{
  background-color: #ffbdf2;
  border: #ffbdf2;
  color: white;
}


.Dog-footer {
  background-color: #c6f8e5;
}

.Cat-footer {
  background-color:  #cce1f2;
}


.Dino-footer {
  background-color: #fbf7d5;
}

.btn-danger {
  background-color: #cce1f2 ;
  border: #cce1f2;
  float: right;
  }
