.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
    max-width: 30%;
    margin-bottom: 20px;
    padding: auto;
}

.card-header { 
  text-align: center;
}

.image {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.card-text {
  text-align: center;
}

.card-footer {
  text-align: center;
}

.buttonDiv {
  display: flex;

}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#cat-btn {
  margin-right: 10px;
  color: white;
}

#dog-btn {
  margin-right: 10px;
}

#dino-btn {
  margin-right: 10px;
  color: white;
}

#all-btn {
  background-color: #b19cd9;
  border: #b19cd9;
}
