.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
    max-width: 30%;
    margin-bottom: 20px;
    padding: auto;
}

.card-header { 
  text-align: center;
}

.image {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  text-align: center;
}

.card-footer {
  text-align: center;
}
